[Desktop Entry]
Name=Spring Tool suite
Comment=Atalho para Spring tol suit
Type=Application
Terminal=false
Exec="/opt/sts/STS"
Icon=/opt/sts/icon.xpm
StartupNotify=true
Categories=Development;IDE;
~                            
